
<body>
  <div class="row text-bg-light " style="max-width: auto ">
    <% @slot.each do |slot| %>
      <div class="card" style="margin: 2px;" >
        <div class="card-body">
          <p><strong>Slot Number: </strong><%= slot.slot_number%></p>
          <p><strong>Slot Id: </strong><%= slot.id%></p>
          <p><strong>Floor Id: </strong><%= slot.floor_id%></p>
          
          <% if slot.status && slot.customer_detail.confirm.nil? %>
            <p><strong>Booking Status: </strong><%= "Not Available"%></p>
          <% elsif slot.status %> 
            <p><strong>Booking Status: </strong><%= "Booked"%></p> 
          <%else%>
            <p><strong>Booking Status: </strong><%= "Empty"%></p>   
          <%end%>

          <%= link_to 'Show', slot_path(slot), class: "btn btn-primary" %>
          <%= link_to 'Delete', slot_path(slot),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_slot_path(slot), class: "btn btn-primary" %>          
        </div>
      </div>
    <% end %>
  </div>  
  <%= link_to 'back', root_path, class: "btn btn-primary m-1"%>
 
</body>




