<h5>Slot Signup </h5>
<% if @slot.errors.any? %>
    <h2>The following errors prevented the SLOT from being saved</h2>
    <ul>
    <% @slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %> 
<%= form_with scope: :slot, url: slots_path, local: true do |f| %>
    <p> 
        <%= f.label :slot_number %><br/>
        <%= f.number_field :slot_number, Placeholder: "Enter Slot" %>
    </p>

    
    <p> 
        <%= f.label :floor_id %><br/>
        <%= f.number_field :floor_id, value: params[:id] %>
    </p> 


    <p>
        <%= f.submit%>
    </p>
<% end %>