<div class= "col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header">
    <h2 class="card-title">Slot Details</h2>
    </div>
    <div class="card-body">
      <p><strong>Slot Number: </strong><%= @slot.slot_number%></p>
      <p><strong>Slot id: </strong><%= @slot.id%></p>
      <p><strong>floor id: </strong><%= @slot.floor_id%></p>
    </div>
  </div>
</div>


<%
=begin%>
 
    <%count=0%>
    <% @slot.user_detail.each do |t| %>
        <%count+=1%>
        
        <%="this slots has #{count} booked"%><p>
    <%end%>
    <%=count%>  
<%
=end%>

