
<h3> All Floor</h3>
    <table>
      <thead>
        <tr>
          <th>Floor Number</th>
          <th>Booked slot</th>
          <th colspan="3"> links </th>
        </tr>

      </thead>
      <tbody>
        <% @floor.each do |floor| %>
          <tr>
            <td><%= floor.number_of_floor %></td>
            <td><%= "This floor has #{floor.user_details.count} slot booked"%></td>
            <td><%= link_to 'Show', floor_path(floor) %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

<button><%= link_to 'back', root_path %></button>



















          <%
=begin%>
 <td><%= link_to 'Edit', edit_floor_path(floor) %></td>   
<%
=end%>
    

<%
=begin%>

<ul>
<li><%= link_to 'create floor', new_floor_path %></li>
</ul>
 

  <td><%= link_to 'Delete', floor_path(floor),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
          <td><%= link_to 'Edit', edit_floor_path(floor) %></td>  
<%
=end%>
