
<h3> All Slots</h3>
<head>
  <style>
  .card{
  padding: 10px;
  margin: 15px;
  height: inline-block;
  box-shadow: 0px 0px 3px 2px green;
  width: fit-content;
  display: inline-block;
  }

p{
  line-height: 20px;
  }
.btn-field{
  display: flex;
 }
  </style>
</head>
<body>
  <div class="wrap">
    <% @floor.each do |slot| %>
      <div class="card">
        <p><strong>Slot Number: </strong><%= slot.slot_number%></p>
        <p><strong>Slot  Id: </strong><%= slot.id%></p>

        <% if slot.user_detail%>
          <p><strong>Booking Status: </strong><%= "Booked"%></p>
        <%else%>
          <p><strong>Booking Status: </strong><%= "Empty"%></p>
        <%end%>

        <%= link_to 'Show', slot_path(slot) %>
        <% if current_user.admin%>
          <%= link_to 'Delete', slot_path(slot),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          <%= link_to 'Edit', edit_slot_path(slot) %>
        <%end%>  
        <button><%= link_to 'Apply For Booking', new_user_details_path(slot.id) %></button>
      </div>
    <% end %>
  
    <% if current_user.admin? %>
      <button><%= link_to 'Add Slot', new_slot_path(params[:id]) %></button>
    <%end%>
  </div>
</body>










<%
=begin%>
 
<p><strong>floor number: </strong><%= @floor.number_of_floor %></p>
<p><strong>floor id: </strong><%= @floor.id %></p>




<%count=0%>
<%@floor.user_details.each do |car|%>

    <p><%= car.client_name%></p>
    <%count+=1%>
    <%@slot= count %>
    <p><strong>Slot_No: </strong><%=@slot%><p>
<%end%>
<%=@slot%>


<%="This floor has #{count} car park"%>
</br>
<button><%= link_to 'back to all floor', floors_path %></button>


 

 
<%
=end%>




















 <%
=begin%>
   <p><%= car.client_name%></p>
 <%= link_to 'Delete', floor_path,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%> 
 <%= @floor.user_details if @floor.user_details%>  
<%
=end%>
