<strong>Name:</strong> <%= current_user.name if current_user %></br>
<strong>Email:</strong> <%= current_user.email  if current_user%>


<%if current_user.admin %>

<body>
<table class="table table-bordered border-primary" >
  <thead class="table-dark">
  </tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">admin</th>
    </tr>
  </thead>

  <tbody class="table-primary">
    <% @user.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
        <% if u.admin==true %>
          <td><%= "Admin"%></td>
        <%else%>
           <td><%= "Customer" %></td>
        <%end%>
      </tr>
    <% end %>
    
  </tbody>
</table>
</body>
<%end%>





<%
=begin%>
 
<head>
  <style>
         table, th, td {
            border: 1px solid black;
            font-family: "Times New Roman", Times, serif;
         }      
  </style>
</head>  


<body>
<table>
  <thead>
  </tr>
      <th style="width:100px">Name</th>
      <th style="width:250px">Email</th>
    
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= current_user.name if current_user %></td>
        <td><%= current_user.email  if current_user%></td>
      </tr>
    
    
  </tbody>
</table>
<%= link_to 'user_etail', user_details_path %> 
<%
=end%>












































<%
=begin%>
 <ol>
<li><%= link_to 'see floors', floors_path %></li>

<% if !current_user.admin %>
    <li><%= link_to 'see your booking', user_details_path %></li>
<%else%>
    <li><%= link_to 'see all booking', user_details_path %></li>
<%end%>
</ol> 
<%
=end%>
