<%if @ud.confirm.nil? %>
   Hii <%= @ud.name %> your booking request has been sent to Admin. Wait till it is confirmed.
  <strong><p>Booking Panding....</p></strong>
<%else%>  
  Congratulation <%= @ud.name %> Parking slot successfully booked.You can park your car.
  <ul>
    <% m= @ud.out_time %>
    <% n= @ud.in_time %>
    <% $price =  (((m-n)/1.hours).round)*100%>
    <li><strong>Slot Id: <strong><%= @ud.slot_id %></li>
    <li><strong>Floor: <strong><%= @ud.slot.floor_id%></li>
    <li><strong>Total Time: <strong><%= (((m-n)/1.hours).round) %> Hours<p></li>
    
    <li><strong>Price: <strong><%= $price %>z</li>

  </ul>
<%end%>

Thankyou