<div class= "col-lg-6 mx-lg-auto">
<div class="card shadow">
<div class="card-header" style="background-color:DodgerBlue;">
<h2 class="card-title">Edit Details</h2>
</div>
<div class="card-body">

<% if @ud.errors.any? %>
  <h2>The following errors prevented the user from being saved</h2>
  <ul>
    <% @ud.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @ud, local: true) do |f| %>
  <p> 
    <%= f.label :name, class: 'mb-2'  %>
    <%= f.text_field :name,Placeholder: "Enter name", autofocus: true, class: "form-control form-control-lg" %>
  </p>
  <p> 
    <%= f.label :email, class: 'mb-2'  %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",Placeholder: "Enter email", class: "form-control form-control-lg"%>
  </p> 

  <p> 
    <%= f.label :car_number, class: 'mb-2'  %>
    <%= f.text_field :car_number,Placeholder: "Enter car number", autofocus: true, class: "form-control form-control-lg" %>
  </p>

  <p> 
    <%= f.label :car_color, class: 'mb-2'  %>
    <%= f.text_field :car_color,Placeholder: "Enter car color", autofocus: true, class: "form-control form-control-lg" %>
  </p>

  <p> 
    <%= f.label :in_time, class: 'mb-2'  %>
    <%= f.datetime_field :in_time,Placeholder: "Enter in time", autofocus: true, class: "form-control form-control-lg"%>
  </p>

  <p> 
    <%= f.label :out_time, class: 'mb-2'  %>
    <%= f.datetime_field :out_time,Placeholder: "Enter out time", autofocus: true, class: "form-control form-control-lg" %>
  </p>

  <p> 
        <%= f.label :slot_id, "Slot Number", class: 'mb-2' %>
        <%= f.number_field :slot_id ,value: params[:id], class: "form-control form-control-lg"%>
  </p> 

  <p>
    <%= f.submit 'submit', class: "btn btn-primary"%>
  </p>
<% end %>
<button><%= link_to 'back', user_details_path %></button>


</div>
</div>
</div>
