
<h3>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Bookings~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3>
<head>
  <style>
         table, th, td {
            border: 1px solid black;
            font-family: "Times New Roman", Times, serif;
         }      
  </style>
</head>  
<body>

  <table>
    <thead>
      <tr>
        <th>client_name</th>
        <th>email</th>
        <th>car_number</th>
        <th>car_color</th>
        <th>in_time</th>
        <th>out_time</th>
        <th>price</th>
        <th>floor</th>
        <th colspan="4"> links </th>
      </tr>

    </thead>

    <tbody>
      <% @ud.each do |user| %>
        <% if  current_user.admin || ((user.email == current_user.email) && !current_user.admin) %>

          <tr>
            <td><%= user.client_name %></td>
            <td><%= user.email %></td>
            <td><%= user.car_number%></td>
            <td><%= user.car_color %></td>
            <td><%= user.in_time %></td>
            <td><%= user.out_time %></td>
            <td><%= user.price %></td>
            <td><%= user.floor.number_of_floor %></td> 
            <td><%= link_to 'Show', user_detail_path(user) %></td>
            <% if  current_user.admin %>
              <td><%= link_to 'Delete', user_detail_path(user),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
              <td><%= link_to 'Edit', edit_user_detail_path(user) %></td> 
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</body>

<button><%= link_to 'back', root_path %></button>

<%
=begin%>
 <p>
  <%= link_to 'Create new users ', new_user_path %></br>
  <%= link_to 'return to user prog', users_path %>
</p> 
<%
=end%>
   <%
=begin%>
 <td><%= user.floor_id %></td 
<%
=end%>
