<head>
  <style>

  .card{
  padding: 10px;
  margin: 15px;
  height: inline-block;
  box-shadow: 0px 0px 3px 2px green;
  width: fit-content;
  display: inline-block;
  /* float:left; */
  }

  p{
  line-height: 20px;
  }
  .btn-field{
  display: flex;
  }

  </style>
</head>  
<body>
  <div class="wrap">
    <h3>Booking</h3>
    <% @ud.each do |user| %>
      <div class="card">
        <% if  current_user.admin || ((user.email == current_user.email) && !current_user.admin) %>
          <p><strong>Name: </strong><%= user.name %></p>
          <p><strong>Email: </strong><%= user.email%></p>
          <button><%= link_to 'Show', user_detail_path(user) %></button>
          <% if  current_user.admin %>
              <%= link_to 'Delete', user_detail_path(user),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>|
              <%= link_to 'Edit', edit_user_detail_path(user) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <button><%= link_to 'back', root_path %></button>
  </div>
</body>


























<%
=begin%>
 <p>
  <%= link_to 'Create new users ', new_user_path %></br>
  <%= link_to 'return to user prog', users_path %>
</p> 
<%
=end%>
   <%
=begin%>
 <td><%= user.floor_id %></td 
<%
=end%>
