<body>
<table class="table table-success table-striped">
    <thead class="table-dark">
      </tr>
        <th>Name</th>
        <th>CarNumber</th>
        <th>CarColor</th>
        <th>In Time</th>
        <th>Out Time </th>
        <th>Slot_id</th>
        <th>Floor</th>
        <th>Status</th>
        <th colspan= "3">Actions</th>
      </tr>
    </thead>
    <tbody>
    
      <% @ud.each do |user| %>
        <tr>
          <% if  current_user.admin || user.name == current_user.name %>
            <td><%= user.name %></td>
            <td><%= user.car_number %></td>
            <td><%= user.car_color %></td>
            <td><%= user.in_time %></td>
            <td><%= user.out_time %></td>
            <td><%= user.slot_id%></td>
            <td><%= user.slot.floor_id%></td>
            <td> <%= user.confirm.nil? ? "Pending" : "Booked"%></td>
            <td><button><%= link_to 'Show', user_detail_path(user) %></button>
            <% if  current_user.admin %>
                <td><button><%= link_to 'Delete', user_detail_path(user),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button></td>
                <% if user.confirm.nil?%>
                  <td><button><%= link_to 'PendingRequest', edit_user_detail_path(user.id) %></button></td>
                <%else%>
                  <td><button><%= link_to 'Edit', edit_user_detail_path(user) %></button></td>
                <%end%>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>




















<%
=begin%>
 <p>
     <button><%= link_to 'back', root_path %></button>

  <%= link_to 'Create new users ', new_user_path %></br>
  <%= link_to 'return to user prog', users_path %>
</p> 
<%
=end%>
   <%
=begin%>
 <td><%= user.floor_id %></td 
<%
=end%>
