<% if @ud.errors.any? %>
  <h2>The following errors prevented the user from being saved</h2>
  <ul>
  <% @ud.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %> 
<div class= "col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header" style="background-color:DodgerBlue;">
    <h2 class="card-title" >Apply For Booking</h2>
    </div>
    <div class="card-body">
      <%= form_with scope: :user_detail, url: user_details_path, local: true do |f| %>
        <p> 
          <%= f.hidden_field :id, value: params[:id]%>
          <%= f.label :name, class: 'mb-2'  %>
          <%= f.text_field :name,Placeholder: "Enter Vailed name", value: current_user.name , class: "form-control form-control-lg" %>
        </p>

        <p> 
          <%= f.label :car_number, class: 'mb-2'  %>
          <%= f.text_field :car_number,Placeholder: "Enter car number", autofocus: true, class: "form-control form-control-lg" %>
        </p>

        <p> 
          <%= f.label :car_color, class: 'mb-2'  %>
          <%= f.text_field :car_color,Placeholder: "Enter car color", autofocus: true, class: "form-control form-control-lg" %>
        </p>
        <p> 
          <%= f.label :in_time, class: 'mb-2'  %>
          <%= f.datetime_field :in_time, Placeholder: "Enter time", autofocus: true, class: "form-control form-control-lg"%>
        </p>

        <p> 
          <%= f.label :out_time, class: 'mb-2'  %>
          <%= f.datetime_field :out_time,Placeholder: "Enter time", autofocus: true, class: "form-control form-control-lg"%>
        </p>
        <p> 
            <%= f.hidden_field :slot_id ,value: params[:id], class: "form-control form-control-lg"%>
        </p> 

        <div class="form-group mb-2 mt-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        
        <p>
          <%= f.submit 'submit', class: "btn btn-primary" %> 
        </p>
      <% end %>
    </div>
  </div>
</div>






    