<p><strong>client_name: </strong><%= @ud.client_name %></p>
<p><strong>email: </strong><%= @ud.email%></p>
<p><strong>car_number: </strong><%= @ud.car_number %></p>
<p><strong>car_color: </strong><%= @ud.car_color %></p>
<p><strong>in_time: </strong><%= @ud.in_time %></p>
<p><strong>out_time: </strong><%= @ud.out_time %></p>
<p><strong>price: </strong><%= @ud.price%></p>
<p><strong>floor: </strong><%= @ud.floor_id%></p>
<%= link_to "click here and go", new_user_registration_path %> 


<%
=begin%>
 <%= link_to 'Delete', user_detail_path,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<%= link_to 'return to userdetail', user_details_path %> 
<%= @ud.floor.number_of_floor if @ud.floor %>
<%
=end%>
